doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
  body
    div#postList
      hr
      h2 Posts
      each improvPost in improvPosts
        div#improvPosts
          a(href='/post/#{improvPost.url}') #{improvPost.title}
      each postPost in postPosts
        div#postPosts
          a(href='/post/#{postPost.url}') #{postPost.title}
      each techPost in techPosts
        div#techPosts
          a(href='/post/#{techPost.url}') #{techPost.title}